
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  min-height: 25px;
  padding: 10px;
  border-left: none ;
  border-right: none ;
  border-top: none ;
  border-radius: 5px 5px 0 0;
}
